@import "palette.css";

:root {
  --case-margin: 1.5%;
}

/* LAYOUT */

.layout {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }

.shelf {
  /* background-color: var(--clr-litgray); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.showcase,
.case {
  /* background-color: var(--clr-vlitgray); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: left;
  transition: 0.15s;
  border-radius: 12px;
  margin-left: var(--case-margin);  /* If you change this value, recalculate all .case selectors width. There is exe prepared for this in Utility folder. Making it higher, than 4 not recommended.*/
  margin-top: var(--case-margin);
  box-sizing: border-box;}

  .showcase {
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* For devices larger than 400px */
@media (min-width: 400px) {

  .shelf {
    width: 90%;
  }
}

/* For devices smaller than 550px */
@media (max-width: 549px) {

  .showcase {height: 400px;}
  .case { margin-left: 0; width: 100%; background-color: var(--clr-marker);}
}

/* For devices larger than 550px */
@media (min-width: 550px) {

  .shelf {
    width: 90%;
  }

  /* Width values */
  .one.case                                   { width: 23.875%;        }
  .two.case                                   { width: 49.25%;         }
  .three.case, .fourth.case                   { width: 74.625%;        }
  .four.case, .third.case                     { width: 100%;           }
  .five.case                                  { width: 100%;           }
  .six.case, .half.case                       { width: 100%;           }
  .seven.case                                 { width: 100%;           }
  .eight.case, .two-third.case                { width: 100%;           }
  .nine.case, .three-fourth.case              { width: 100%;           }
  .ten.case                                   { width: 100%;           }
  .eleven.case                                { width: 100%;           }
  .twelve.case                                { width: 100%;           }

  /* Offsets */
  .one-offset.case                            { margin-left: 8.4583333333%;  }
  .two-offset.case, .half-offset.case         { margin-left: 16.9166666667%; }
  .three-offset.case                          { margin-left: 25.375%;        }

}

/* For devices smaller than 750px */
@media (min-width: 550px) and (max-width:749px) {

  .showcase {height: 400px;}

  .one.case:nth-child(4n+1),
  .two.case:nth-child(2n+1),
  .three.case:nth-child(n+1),
  .four.case:nth-child(n),
  .five.case:nth-child(n),
  .six.case:nth-child(n),
  .seven.case:nth-child(n),
  .eight.case:nth-child(n),
  .nine.case:nth-child(n),
  .ten.case:nth-child(n),
  .eleven.case:nth-child(n),
  .twelve.case:nth-child(n) { margin-left: 0; background-color: var(--clr-marker);}
}

/* For devices larger than 750px */
@media (min-width: 750px) {

  .shelf {
    width: 90%;
  }

  /* Width values */
  .one.case                                   { width: 11.1875%;       }
  .two.case                                   { width: 23.875%;        }
  .three.case, .fourth.case                   { width: 36.5625%;       }
  .four.case, .third.case                     { width: 49.25%;         }
  .five.case                                  { width: 61.9375%;       }
  .six.case, .half.case                       { width: 74.625%;        }
  .seven.case                                 { width: 87.3125%;       }
  .eight.case, .two-third.case                { width: 100%;           }
  .nine.case, .three-fourth.case              { width: 100%;           }
  .ten.case                                   { width: 100%;           }
  .eleven.case                                { width: 100%;           }
  .twelve.case                                { width: 100%;           }

  /* Offsets */
  .one-offset.case                            { margin-left: 8.4583333333%;  }
  .two-offset.case                            { margin-left: 16.9166666667%; }
  .three-offset.case                          { margin-left: 25.375%;        }
  .four-offset.case, .half-offset.case        { margin-left: 33.8333333333%; }
  .five-offset.case                           { margin-left: 42.2916666667%; }
  .six-offset.case                            { margin-left: 50.75%;         }
  .seven-offset.case                          { margin-left: 59.2083333333%; }
}

/* For devices smaller than 1000px */
@media (min-width: 750px) and (max-width:999px) {

  .showcase {height: 500px;}

  .case:first-child,
  .one.case:nth-child(8n+1),
  .two.case:nth-child(4n+1),
  .three.case:nth-child(2n+1),
  .four.case:nth-child(2n+1),
  .five.case:nth-child(n+1),
  .six.case:nth-child(n+1),
  .seven.case:nth-child(n+1),
  .eight.case:nth-child(n),
  .nine.case:nth-child(n),
  .ten.case:nth-child(n),
  .eleven.case:nth-child(n),
  .twelve.case:nth-child(n) { margin-left: 0; background-color: var(--clr-marker);}
}

/* For devices larger than 1000px */
@media (min-width: 1000px) {

  .shelf {
    width: 90%;
  }

  .showcase {height: 600px;}

  .one.case:nth-child(12n+1),
  .two.case:nth-child(6n+1),
  .three.case:nth-child(4n+1),
  .four.case:nth-child(3n+1),
  .five.case:nth-child(2n+1),
  .six.case:nth-child(2n+1),
  .seven.case:nth-child(n+1),
  .eight.case:nth-child(n+1),
  .nine.case:nth-child(n+1),
  .ten.case:nth-child(n+1),
  .eleven.case:nth-child(n+1),
  .twelve.case:nth-child(n) { margin-left: 0; background-color: var(--clr-marker);}

  /* Width values */
  .one.case                                   { width: 6.9583333333%;  }
  .two.case                                   { width: 15.4166666667%; }
  .three.case, .fourth.case                   { width: 23.875%;        }
  .four.case, .third.case                     { width: 32.3333333333%; }
  .five.case                                  { width: 40.7916666667%; }
  .six.case, .half.case                       { width: 49.25%;         }
  .seven.case                                 { width: 57.7083333333%; }
  .eight.case, .two-third.case                { width: 66.1666666667%; }
  .nine.case, .three-fourth.case              { width: 74.625%;        }
  .ten.case                                   { width: 83.0833333333%; }
  .eleven.case                                { width: 91.5416666667%; }
  .twelve.case                                { width: 100%;           }

  /* Offsets */
  .one-offset.case                            { margin-left: 8.4583333333%;  }
  .two-offset.case                            { margin-left: 16.9166666667%; }
  .three-offset.case                          { margin-left: 25.375%;        }
  .four-offset.case                           { margin-left: 33.8333333333%; }
  .five-offset.case                           { margin-left: 42.2916666667%; }
  .six-offset.case                            { margin-left: 50.75%;         }
  .seven-offset.case                          { margin-left: 59.2083333333%; }
  .eight-offset.case                          { margin-left: 67.6666666667%; }
  .nine-offset.case                           { margin-left: 76.125%;        }
  .ten-offset.case                            { margin-left: 84.5833333333%; }
  .eleven-offset.case                         { margin-left: 93.0416666667%; }

  .one-third-offset.case                      { margin-left: 33.8333333333%; }
  .two-third-offset.case                      { margin-left: 67.6666666667%; }
  .one-fourth-offset.case                     { margin-left: 25.375%;        }
  .two-fourth-offset.case, .half-offset.case  { margin-left: 50.75%;         }
  .three-fourth-offset.case                   { margin-left: 76.125%;        }
}




.layout:after,
.row:after,
.shelf:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: bold;
  margin: 0.4em 0 0.6em 0;
  cursor: default;
}

h1 {font-size: 2em;}
h2 {font-size: 1.75em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em;}
h5 {font-size: 1em;}
h6 {font-size: 0.75em;}

p {
  padding: 0.1em 1.25em;
  font-size: 0.9em;
  cursor: default;
}

/* BUTTONS */

a.button {
  display: inline-block;

  height: 1.8em;
  padding: 0.3em 0.8em;
  margin: 0.5em;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 1.8em;
  letter-spacing: 0.05rem;
  white-space: nowrap;

  color: black;
  background-color: transparent;
  border-color: transparent;

  border-width: 0px;
  border-style: solid;
  border-radius: 16px;

  transition: 0.1s ease-out;
  cursor: pointer;

  text-align: center;
  line-height: 1;
  box-sizing: border-box;
}

a.flat.button {
  border-width: 0.1rem;
}

a.flat.general.button {
  color: var(--clr-vdarkgray);
  border-color: var(--clr-vdarkgray);
}

a.flat.submit.button {
  color: var(--clr-green);
  border-color: var(--clr-green);
}

a.flat.alert.button {
  color: var(--clr-red);
  border-color: var(--clr-red);
}

a.flat.info.button {
  color: var(--clr-blue);
  border-color: var(--clr-blue);
}

a.flat.warning.button {
  color: var(--clr-orange);
  border-color: var(--clr-orange);
}

a.flat.attention.button {
  color: var(--clr-yellow);
  border-color: var(--clr-yellow);
}

a.flat.weak.button {
  color: var(--clr-litgray);
  border-color: var(--clr-litgray);
}

/* I recommend write target = "_self" in a */
a.flat.disabled.button {
  border-style: dotted;
  color: var(--clr-litgray);
  border-color: var(--clr-litgray);
}

a.flat.textonly.button {
  color: var(--clr-vdarkgray);
  border-width: 0;
}

a.flat.button:hover {
  box-shadow: 0 2px 10px 0 var(--clr-vlitgray);
}

a.flat.textonly.button:hover {
  box-shadow: none;
  color: var(--clr-indigo);
}

a.flat.disabled.button:hover {
  box-shadow: none;
  cursor: not-allowed;
}

/* UTILITY */

.noleftoffset { margin-left: 0 !important;}
.leftoffset {margin-left: var(--case-margin) !important;}

/* MEDIA */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet (also point when grid becomes active)*/
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
