@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import "typography.css";
@import "buttons.css";
@import "utility.css";
@import "normalize.css";


/* BODY AND HTML */

body{
  font-size: 62.5%;
}

html {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
  background-color: var(--gbgcolor);
  color: var(--gfontcolor);
}

/* LAYOUT */

.layout {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.shelf {
  /*background-color: var(--litgray);*/

}

.banner {
  /*background-color: var(--litgray);*/

}

.case {
  /*background-color: var(--vlitgray);*/

}

/* For phones */
@media (min-width: 400px) and (max-width: 549px) {

}

/* For phablets */
@media (min-width: 550px) and (max-width:749px) {

}

/* For tablets */
@media (min-width: 750px) and (max-width:999px) {

}

/* For larger screens */
@media (min-width: 1000px) {

}

.layout:after,
.banner:after,
.shelf:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
